# Caches
/var/cache/**/*
/var/logs/*

# Configuration
/app/config.*.yml

# Uploads
/uploads/*

# Test reports
/tests/report*

# Composer
/vendor

# Always include .gitkeep
!/**/.gitkeep

# Certificates
/app/certs