{% extends "main.html.twig" %}

{% block title %}Add user{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="buttons">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-plus"></i> Add
        </button>
    </div>

    {{ form_end(form) }}
{% endblock %}